.add{
    
    margin: 0px;
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    
    .mensaje{
            display: block;
            margin: 5% 0 0 20%;
            width: 40%;
            border-style: solid;
            border-color: rgb(70, 70, 70);
            border-width: 1px;
            background-color: rgb(40, 40, 40);
            border-radius: 15px;


            h1{
                text-align: center;
                margin: 3% 0 5% 0;
            }
            p{
                margin: 5% 0 0 0;
                text-align: center;
            }
            img{
                display: block;
                margin: auto;
                width: 50%;
            }
            .incorrecto{
                color: red;
                margin: 0 auto 0 auto;
                display: none;
            }
    }
    button{
        display: block;
        padding: 2% 10% 2% 10%;
        margin: 5% auto 5% auto;
        border-radius: 10px;
        border-style: none;
        background-color: rgb(0, 170, 250);
        color: white;
        font-weight: bold;
    }
    button:hover{
        background-color: rgb(0, 130, 255);
    }

}
    .passe{
        display: block;
        width: 60%;
        margin: 3% auto auto auto;
        input{
            background-color: rgb(50, 50, 50);
            color: white;
            border-style: solid;
            border-color: rgb(70, 70, 70);
            border-width: 1px;
        }
}   

@media (max-width:900px) {
 
.add{
.mensaje{
    display: block;
    width: 80%;
    margin: 20% auto 0 auto;
    .passe{
        display: block;
        width: 100%;
        padding: 0 0 0 25%;
    }
    p{
        display: block;
        width: 80%;
        margin: 10% auto;
    }
    h1{
        margin-bottom: 10%;
    }
}
}   
}