* {
    margin: 0;
    font-family: century gothic;
}

.sidebar-nav{
    display: block;
    display: none;
    text-align: center;
    padding: 1% 1.2%;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    background-color: rgb(0,40,40);
    top: 2%;

}

iframe {
    width: 30%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
body{
    margin: 0 0 0 210px;
   background-color: rgb(240, 240, 240);
}
.contenedor{
     width: auto;
    
}
.cuerpo{
   
    width: 90%;
    padding: 0 0 0 0;
    margin: 2% auto 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    
}

@media (max-width: 900px) {
    iframe{
        display: none;
 
    }
    .contenedor{
        margin-left: 0;
        width: 100%;
        height: 50001px;
    }
    body{
    margin: 0 0 0 0px;
   background-color: rgb(240, 240, 240);
   
}
.sidebar-nav{
display: inline-block;
position: fixed;
width: 100%;
text-align: center;
margin-top: 168vw;
    
    
}
}
