* {
    margin: 0;
    font-family: century gothic;
}

iframe {
    width: 30%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
body{
    margin: 0 0 0 210px;
   background-color: rgb(240, 240, 240);
}
.contenedor{
     width: auto;
    
}
.cuerpo{
   
    width: 90%;
    padding: 0 0 0 0;
    margin: 2% auto 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    
}