* {
    margin: 0;
    font-family: century gothic;
 
}

.sidebar-nav{
    display: none;
    text-align: center;
    padding: 1% 1.2%;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(0,40,40);
   

}

iframe {
    width: 18%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    margin: 0px 0 0 18%;
   background-color: rgb(240, 240, 240);
}
.contenedor{
     width: auto;
    
}
.cuerpo{
   
    width: 90%;
    padding: 0 0 0 0;
    margin: 2% auto 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    
}

@media (max-width: 900px) {
    iframe{
        display: none;
 
    }
    .contenedor{
        margin-left: 0;
        width: 100%;
       
    }
    body{
    margin: 80px 0 0 0px;
   background-color: rgb(240, 240, 240);
   
}
.sidebar-nav{
z-index: 11111;
display: inline-block;
position: fixed;
top: 0%;
width: 100%;
text-align: center;
text-decoration: none;
color: white;

a{
    text-decoration: none;
    color: white;
}
    
    
}

}
