*{
    margin: 0;
    font-family: century gothic;
    text-decoration: none;
}


.me{
    
    margin: 0 0 15% 0;
    img{
        display: block;
        margin: auto;
        margin-top: 10%;
        width: 30%;
       }
    h2{
        text-align: center;
        color: white;
    }
    p{
        text-align: center;
       
        font-size: 15px;
        color: rgb(255, 255, 255);
    }
}

.contenedor{
    display: inline-block;
    width: 98%;
    background-color: rgb(240, 240, 255);
    background-color: rgb(40, 40, 40);
    padding: 0 2% 0 0;
    height: 100vh;
    
}
    

.opciones{

    margin: 5% 0 0 10%; 
    padding: 2% 0 3% 2%;
    width: 70%;

    img{
        display: inline-block;
        width: 30px;
        vertical-align: middle;
    }
    p{
        margin: 0 0 0 5%;
        display: inline-block;
        width: 80px;
        vertical-align: middle;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
}
@media (max-width:900px) {
    .opciones:hover{
        background-color: rgb(40, 40, 40);

    }

}
.opciones:hover{
    border-radius: 10px;
    background-color: rgb(0, 170, 228);
    
}
 
/* @media (max-width:250px) {
    
    .contenedor{
        display: fixed;
        top: 0px;
        width: 100%;
        margin: 0px;
        .me{
            margin: 0 0 10% 0;
            img{
                width: 30%;
            }
            h2{
                font-size: 60px;
            }
            p{
                font-size: 20px;
            }
        }
    
    .opciones{
        margin: 0 0 0 27%;
        padding: 5% 5px 0 5px;
        img{
            width: 12%;
        }
        p{
            font-size: 20px;
        }
    }
    .opciones:hover{
        background-color: rgb(40, 40, 40);
    }
    
}
} */