table{
    
    border-collapse: collapse;
    width: 90%;
    margin: 2% auto auto auto;
    th{
        border-style: none;

    }
}
.cuerpo{
    p{
        width: 90%;
        margin: 2% auto auto auto;
    }
}
.logos{
    width: 15%;
}
.nombre{
    width: 30%;
}
.descrip{
    width: 30%;
}
th{
    background-color: rgb(40,40,40);
    padding: 2%;
    color: white;
}
td{
    padding: 2%;
    font-size: 15px;
    text-align: center;
    img{
        display: block;
        width: 30px;
        margin: auto;
    }
    button{
        background-color: rgb(0, 170, 240);
        padding: 5% 15%;
        border-radius: 5px;
        color: white;
        border-style: none;
        font-weight: bold;
    }
    button:hover{
        background-color: blue;
    }
}
tr{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(150, 150, 150,0.5);
}
tr:hover{
    background-color: rgb(240, 240, 255);
}