.c1 {
    display: inline-block;
    width: 45%;
    background-color: blue;
    border-radius: 10px;
    color: white;
    height: 300px;
    margin: 0 0 0 3%;
    vertical-align: middle;

    h4 {

        text-align: center;
        margin: 5% 0 0 0;
        font-size: 30px;

    }

    p {
        width: 80%;
        margin: 10% auto 0 auto;
        text-align: center;
    }

    button {
        display: block;
        width: 40%;
        padding: 3%;
        margin: 10% auto auto auto;
    }

}

.c2 {
    display: inline-block;
    width: 50%;
    height: 300px;
    vertical-align: middle;



    .c2-1 {
        display: block;
        height: 140px;
        margin-bottom: 0.8%;



        .c2-1-1 {
            display: inline-block;
            width: 50%;
            height: 140px;
            vertical-align: middle;
            margin-left: 0%;
            color: white;
            background-color: red;
            border-radius: 6px;

            h4 {

                text-align: center;
                margin: 5% 0 0 0;
                font-size: 20px;


            }

            p {
                width: 80%;
                margin: 3% auto 0 auto;
                text-align: center;
                font-size: 10px;
            }

            button {
                display: block;
                width: 40%;
                padding: 2% 5%;
                margin: 5% auto auto auto;
                font-size: 10px;
            }

        }

        .c2-1-2 {
            display: inline-block;
            width: 48%;
            height: 140px;
            vertical-align: middle;
            color: white;
            border-radius: 6px;
            background-color: green;

            h4 {

                text-align: center;
                margin: 5% 0 0 0;
                font-size: 20px;


            }

            p {
                width: 80%;
                margin: 3% auto 0 auto;
                text-align: center;
                font-size: 10px;
            }

            button {
                display: block;
                width: 40%;
                padding: 2% 5%;
                margin: 5% auto auto auto;
                font-size: 10px;
            }

        }
    }


    .c2-2 {
        display: block;
        width: 100%;
        background-color: orange;
        height: 150px;
        border-radius: 10px;
        color: white;

        h4 {

            text-align: center;
            margin: 2% 0 0 0;
            padding: 2% 0 0 0;
            font-size: 25px;


        }

        p {
            width: 80%;
            margin: 2% auto 0 auto;
            text-align: center;
            font-size: 10px;
        }

        button {
            display: block;
            width: 40%;
            margin: 4% auto auto auto;
            font-size: 10px;
            padding: 2% 5%;
        }
    }

}

.encabezado {
    h2 {
        font-size: 30px;
        margin: 2%;
    }
}

.collage {
    display: block;
    margin: auto;
}

button {
    background: none;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: white;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.418);
}

* {
    text-decoration: none;

}

.banner {
    display: block;
    background-image: url("../../recursos/img/banner/Fondo\ 11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    margin: auto;
    border-radius: 10px 10px 0 0;

}

@media (max-width:900px) {

    .collage {
        display: block;
        width: 90%;
        p{
            font-size: 10px;
        }


        .c1 {
            display: block;
            width: 100%;
            margin: 2% auto auto auto;
            height: auto;
            padding: 1% 0 3% 0;

            h4 {
                margin: 2% auto auto auto;

            }

            p {
                margin: 2% auto auto auto;
            }

            button {
                margin: 5% auto auto auto;
            }
        }

        .c2 {
            display: block;
            width: 100%;
            margin: 2% auto auto auto;
            height: auto;
            padding: 1% 0 3% 0;

            .c2-1 {
                h4 {
                    margin: 2% auto auto auto;
                    ;

                }

                p {
                    margin: 5% auto auto auto;
                    text-align: justify
                }

                button {
                    display: block;
                    width: 80%;
                    margin: 15% auto auto auto;
                    padding: 2% 15% 2% 15%;
                }

                .c2-1-1 {
                    padding: 5% auto 5% auto;

                    p {
                        display: block;
                        width: 85%;
                        text-align: justify;
                    }

                }

                .c2-1-2 {
                    padding: 5% auto 5% auto;

                    p {
                        display: block;
                        width: 85%;
                        text-align: justify;
                    }
                }

            }

        }            
            .c2-2{
                    p{
                        display: block;
                        width: 80%;
                        text-align: justify;
                        margin: 3% auto 0 auto;
                    }
                }
    }
}