
h2{
    margin-bottom: 3%;
}
.card {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    width: 30%;
    height: 300px;
    margin: 1%;
    border-radius: 10px;
    vertical-align: middle;

    /* background-color: rgba(30, 48, 210, 0.055); */
    img {
        display: block;
        margin: 5% auto auto auto;
        width: 70px;
    }

    h3 {
        margin: 5% 0 0 0;
        text-align: center;
        font-size: 15px;
    }

    p {
        width: 80%;
        font-size: 12px;
        margin: 5% auto auto auto;
        text-align: justify;
    }

    button {
        display: block;
        margin: 10% auto auto auto;
        font-weight: bold;
        padding: 2% 10%;
        background-color: rgb(0, 170, 250);
        border-style: none;
        border-radius: 5px;
        color: white;
    }

    button:hover {
        background-color: blue;
    }
}